.image {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.homeTitle {
  text-align: center;
  padding: 18%;
}

.homeQuote {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.homeName {
  text-align: center;
}

.homeImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 100px;
}